#see-charts {
  position: static;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner {
  width: 100%;
  height: auto;
}

#footer-img {
  width: 100%;
  height: auto;
}

.nav-item .active {
  background-color: #7d7cbb !important;
}

.nav-tabs .nav-link.active {
  color: white !important;
}

.nav-link {
  color: black !important;
}

.card {
  margin: 50px 0px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ffffff;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 3.8px;
  color: white;
  background-color: #7d7cbb !important;
}

.card img {
  max-height: 20px;
  margin-right: 10px;
}

.desc-section {
  min-height: 100px;
  background-color: white;
  text-align: center;
}

.def-section {
  min-height: 150px;
  background-color: #acace5;
  text-align: center;
}

.def-section .container {
  position: relative;
}

.def-title p {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 3.8px;
  color: #f9dc9d;
}

.row .def-content {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vl {
  border: 2px solid white;
  border-radius: 25px;
  height: 120px;
}

.chart-section {
  min-height: 550px;
}

.info-section {
  min-height: 450px;
  background-color: #f8f8f8;
  padding-top: 30px;
}

.footer-section {
  height: auto;
  background-color: #f8f8f8;
}

.card-text {
  font-size: 24pt;
}