#banner {
  width: 100%;
  height: auto;
}

#footer-img {
  width: 100%;
  height: auto;
}

.desc-section {
  min-height: 200px;
  background-color: white;
  text-align: center;
}

.def-section {
  min-height: 200px;
  background-color: #acace5;
  text-align: center;
}

.vl {
  border: 2px solid white;
  border-radius: 25px;
  height: 150px;
}

.chart-section {
  min-height: 550px;
}

.info-section {
  min-height: 450px;
}

.footer-section {
  height: auto;
  background-color: #f8f8f8;
}

.card-text {
  font-size: 24pt;
}