<!DOCTYPE html>
<html>
<head>
  <title>The Unicorns</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="landing-section">
    <img class="banner" src="/static/images/banner.jpg">
  </div>
  <div class="desc-section">
    <img class="banner" src="/static/images/banner-two.jpg">
  </div>
  <div class="chart-section">
    <img class="banner" src="/static/images/barcharts.jpg">
  </div>
  <div class="info-section" id="info-sec">
    <div class="container">
      <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item gojek-box">
          <a class="nav-link active" href="#gojek-tab" data-toggle="tab">
            <img id="gojek-logo" src="/static/images/gojek.png">
          </a>
        </li>
        <li class="nav-item tokped-box">
          <a class="nav-link" href="#tokped-tab" data-toggle="tab">
            <img id="tokped-logo" src="/static/images/tokopedia.png">
          </a>
        </li>
        <li class="nav-item travel-box">
          <a class="nav-link" href="#travel-tab" data-toggle="tab">
            <img id="travel-logo" src="/static/images/traveloka.png">
          </a>
        </li>
        <li class="nav-item bl-box">
          <a class="nav-link" href="#bl-tab" data-toggle="tab">
            <img id="bl-logo" src="/static/images/bukalapak.png">
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" role="tabpanel" id="gojek-tab">
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <div class="card-header">
                    ABOUT
                  </div>
                  <li class="list-group-item">
                    <img src="/static/images/bike.png">Ride sharing
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/multiple-users-silhouette.png">Nadiem Makarim
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/playstore.png">50 million+ installs
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/cake.png">October 2010
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/unicorn.png">August 2016
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="card">
                  <div class="card-header">
                    FUNDING
                  </div>
                  <div id="gojek-viz"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tokped-tab" class="tab-pane fade" role="tabpanel">
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <div class="card-header">
                    ABOUT
                  </div>
                  <li class="list-group-item">
                    <img src="/static/images/shopping-bag.png">E-commerce
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/multiple-users-silhouette.png">William Tanuwijaya, Leontinus Alpha Edison
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/playstore.png">10 million+ installs
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/cake.png">August 2009
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/unicorn.png">August 2017
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="card">
                <div class="card-header">
                  FUNDING
                </div>
                <div id="tokopedia-viz"></div>
              </div>
            </div>
          </div>
        </div> 
        <div id="travel-tab" class="tab-pane fade" role="tabpanel">
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <div class="card-header">
                    ABOUT
                  </div>
                  <li class="list-group-item">
                    <img src="/static/images/ticket.png">Ticketing and booking
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/multiple-users-silhouette.png">Ferry Unardi, Albert Zhang, Derianto Kusuma
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/playstore.png">10 million+ installs
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/cake.png">February 2012
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/unicorn.png">July 2017
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="card">
                <div class="card-header">
                  FUNDING
                </div>
                <div id="traveloka-viz"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="bl-tab" class="tab-pane fade" role="tabpanel">
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <div class="card-header">
                    ABOUT
                  </div>
                  <li class="list-group-item">
                    <img src="/static/images/shopping-bag.png">E-commerce
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/multiple-users-silhouette.png">Achmad Zaky, Fajrin Rasyid, Nugroho Herucahyono
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/playstore.png">10 million+ installs
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/cake.png">January 2010
                  </li>
                  <li class="list-group-item">
                    <img src="/static/images/unicorn.png">November 2017
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="card">
                <div class="card-header">
                    FUNDING
                </div>
                <div id="bukalapak-viz"></div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div class="footer-section">
    <img id="footer-img" src="/static/images/footer.jpg">
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
  var traveloka_graph = {{graphJSON['traveloka'] | safe}}
  Plotly.plot('traveloka-viz',traveloka_graph,{})   
  var bukalapak_graph = {{graphJSON['bukalapak'] | safe}}
  Plotly.plot('bukalapak-viz',bukalapak_graph,{})  
  var gojek_graph = {{graphJSON['gojek'] | safe}}
  Plotly.plot('gojek-viz',gojek_graph,{})   
  var tokopedia_graph = {{graphJSON['tokopedia'] | safe}}
  Plotly.plot('tokopedia-viz',tokopedia_graph,{})     
</script>

</html>